html,
body {
  background: #efefef;
  padding: 10px;
  font-family: 'Varela Round';
}

.form-1 .error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.form-1 .msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

/*=== 2. Anchor Link ===*/
a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #333333;
  text-decoration: none;
}
/*=== 3. Text Outside the Box ===*/
.etc-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-form p {
  margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.main-form {
  position: relative;
}
.form-1 .form-control {
  display:table-cell; width:100%;
  text-align:center;
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}

.form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.form-1 .form-group:last-child {
  border-bottom: 0;
}
.group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}

/*===  Button ===*/
.form-1 .button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}

.form-1 .filter {
  position: absolute;
  left: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}


.form-1 .button:hover {
  color: #555555;
  transform: rotate(360deg);
}

.form-1 .filter:hover {
  color: #555555;
  transform: rotate(180deg);
}

.form-1 .button.clicked {
  color: #555555;
}

/*=== Login Logo ===*/
.logo {
  padding: 15px 0;
  font-size: 30px;
  color: #aaaaaa;
  font-weight: bold;
  margin-bottom:2px;
}

