/* The Modal (background) */
.modal {
   position: absolute;
   top: 10px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}


@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline;
    vertical-align: middle;
    content: " ";
    height: 100%;
    width: 100%;
  }
}

.modal-dialog{
   position: absolute;
   left: 50%;
   /* now you must set a margin left under zero - value is a half width your window */
   margin-left: -312px;
   /* this same situation is with height - example */
   height: 500px;
   top: 50%;
   margin-top: -250px;
   width:100%;
} 


/* The Close Button */
.modal-body .close {
    color: #ff8080;
    float: left;
    font-size: 28px;
    font-weight: bold;
    border: 5px solid #efefef;
  	border-radius: 50%;
  	transition: all ease-in-out 500ms;
}


/* The Search Button */
.modal-body .yes {
    color: #c0e4b6;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: 5px #efefef;
  	border-radius: 50%;
  	transition: all ease-in-out 500ms;
}

.modal-body .close:hover{
    color: #ff0000;
    transform: rotate(90deg);
    
}

.modal-body .yes:hover{
    color: #84cc6f;
    transform: rotate(360deg);
    
}

/* Modal Header */
.modal-header {
    padding: 2px 8px;
    background-color: #efefef;
    color: white;
}

/* Modal Body */
.modal-body {padding: 10px 8px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 8px;
    background-color: #efefef;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 2px solid #888;
    width: 20%;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}



